{% extends "layout.html" %}
{% load i18n %}
{% load staticfiles %}
{% load compress %}
{% load promotion_tags %}
        {% load thumbnail %}

  {% block content %}

				<!-- Chefs Start -->

					<div class="container">
						<!-- Default Heading -->
						<div class="default-heading">

							<h2>Как сделать заказ?</h2>

						</div>

					</div>

          <!--/stories-->
          <div class="row">
              <div class="container text-muted" >
<div class="about">


 <h2> Позвоните:</h2>
    <p>Выберите в каталоге понравившийся букет</p>
    Позвоните нам по телефонам: <span> <i class="fa fa-phone red"></i>+7(342)212-75-99</span> ,
    <span> <i class="fa fa-phone red"></i>8-982-481-68-62</span>,
    <span> <i class="fa fa-phone red"></i>8-982-481-44-52</span>

<h2> Заполните форму "быстрого заказа":</h2>

<p>Выберите в каталоге понравившийся букет</p>
<p>Сделайте <a href="/contact/add_contact/">быстрый заказ</a> и мы вам позвоним </p>

<h2>Сделайте обычный заказ на сайте:</h2>

  <p>Выберите понравившийся букет, и поместите его в корзину</p>
 <p>Перейдите в корзину, а затем в раздел оформления заказа.</p>
  <p>Заполните необходимые поля для ввода информации о заказе.</p>
  <p>Выберите способ оплаты и оплатите заказ.</p>
 <p>Заказ оформлен, ожидайте исполнения заказа.</p>
<hr/>


<br/><br/>



</div>


</div>
</div>
{% endblock %}