{% extends "layout.html" %}
{% load i18n %}
{% load staticfiles %}
{% load compress %}
{% load promotion_tags %}
        {% load thumbnail %}

  {% block content %}

				<!-- Chefs Start -->

					<div class="container">
						<!-- Default Heading -->
						<div class="default-heading">




						</div>

					</div>

          

          <!--/stories-->




<!-- Chefs Start -->

					<div class="container">
						<!-- Default Heading -->
						<div class="default-heading">

						</div>

					</div>

          <!--/stories-->
          <div class="row">
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="Елена Захарова"src="{% static "flowers/img/chef/zakharova.jpg" %}"  style="width:180px;height:180px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              <h3>Елена Захарова</h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-warning">Мастер-флорист</span> <span class="label label-warning">член Национальной гильдии флористов</span> <span class="label label-warning">директор студии «Цветы Большого Города»</span></h4>
                   <h4><span class="label label-warning">Судья Европейской Федерации ассоциаций профессиональных флористов (FLORINT)</span></h4>
                  <class="text-muted">Образование • <a href="#" class="text-muted">Республиканская школа аранжировки цветов 1994-1995 гг.</a><br>
                    Семинары у преподавателей •

                           Грегор Лерш,Тор Гундерсен,  Фридхельм Раффелл,    Питер Хесс, Олаф Шрерс.<br/>
                    Магазин «Цветы на Сретенке» г.Москва 2001-2005 гг. <br/>
                     Флористическая мастерская г. Москва 2005-2007 гг. <br/>
                    Участие в Чемпионате России в 2001 и 2006 гг. <br/>
                   2-е место на конкурсе «Московская весна» МВК «Сокольники» г Москва 2004 г.<br/>
                     1-е место на конкурсе «Московская весна» МВК «Сокольники» г. Москва 2005 г.<br/>
                     1-е место на конкурсе флористических скульптур «Flora Beauty» г.Москва 2007 г.<br/>
                    Принимала участие в оформлении официальных мероприятий аппарата Президента РФ. <br/>
<br/>
                       В настоящее время преподает, участвует в  шоу-показах,  выставках.<br/>
                    Директор студии «Цветы Большого Города».<br/>
                    Судья региональных конкурсов в Иркутске, Екатеринбурге, Казани, Астане, Перми, Сочи, Рыбинск, Самаре.




                  </h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
        <div class="default-heading">

  </div>
          <div class="row">
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="{% static "flowers/img/chef/postanogova.jpg" %}" style="width:180px;height:180px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9 ">
              <h3>Анна Постаногова</h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-warning">Администратор </span></h4>
                <!--<small " " class="text-muted">Образование • <a href="#" class="text-muted">окончила базовый курс по европейской флористике у Захаровой Елены. </a></small>
<br/>
                    <small " " class="text-muted">Семинары у преподавателей • Юкка Токаги (Япония), Наталь Жижко  и Павел Черняк, Сергей Карпунин (Россия), Сержио Гонсалес (Испания)</small><br/><br/>
                   <small " " class="text-muted">6-е место на конкурсе Пермского края по профессиональной флористике</small>-->



                  </h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
<br/>
        <br/>

   <div class="default-heading">

  </div>
<div class="row">
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="{% static "flowers/img/chef/homutova6.jpg" %}" style="width:180px;height:180px" class="img-circle"></a>
            </div>
            <div class="col-md-10 col-sm-9 ">
              <h3>Хомутова Татьяна</h3>
              <div class="row">
                <div class="col-xs-9">
                  <h4><span class="label label-warning">Флорист </span></h4>
                Образование • <a href="#" class="text-muted">окончила базовый курс по европейской флористике у Захаровой Елены. </a></small>
<br/>
                    <!--<small " " class="text-muted">Семинары у преподавателей • Юкка Токаги (Япония), Наталь Жижко  и Павел Черняк, Сергей Карпунин (Россия), Сержио Гонсалес (Испания)</small><br/><br/>
                   <small " " class="text-muted">6-е место на конкурсе Пермского края по профессиональной флористике</small>-->



                  </h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>


          <!--/stories-->

<br/>
        <br/>




{% endblock %}