{% extends "layout.html" %}

{% load url from future %}

{% load i18n %}
{% load product_tags %}
{% load form_tags %}
{% load widget_tweaks %}

{% load staticfiles %}


 {% block content %}

<!-- Booking Start -->

				<div class="booking">
					<div class="container">
						<div class="row">

							<div class="col-md-5 col-sm-4">
								<!-- Booking form area -->
								<div class="booking-form">
									<!-- Heading -->
									<h2 style="text-align: center">Спасибо !</h2>
									<!-- Paragraph -->


								</div>
                            </div>

                                <div class="col-md-7 col-sm-4">
                                      <br/>
                                    <br/>


								<!-- Paragraph -->
								<p></p>
                                    <div id="carousel-example-generic" class="carousel slide" >
                                    	<img class="img-responsive" src="{% static "flowers/img/02.jpg" %}" alt="Цветы большого города" />
                                    </div>


							</div>


							</div>
						</div>
					</div>
				</div>

				<!-- Booking End -->







{% endblock %}
