{% extends "layout.html" %}
{% load i18n%}
{% load staticfiles %}


{% load product_tags %}

{% block navigation %}

{% endblock %}

{% block header %}


<!-- Slider Start
		#################################
				- THEMEPUNCH BANNER -
			#################################	-->

			<div class="tp-banner-container">
				<div class="tp-banner" >
					<ul>	<!-- SLIDE  -->










                        <li data-transition="zoomin" data-slotamount="6" data-masterspeed="400" >
							<!-- MAIN IMAGE  5-->
							<img src="{% static "flowers/img/slider/slide94.jpg" %}"  alt=""  data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat">




						</li>
                        <li data-transition="zoomin" data-slotamount="6" data-masterspeed="400" >
							<!-- MAIN IMAGE  5-->
							<img src="{% static "flowers/img/slider/slide2.jpg" %}"  alt=""  data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat">


						</li>








					</ul>
					<!-- Banner Timer -->
					<div class="tp-bannertimer"></div>
				</div>
			</div>
			<!-- Slider End -->






        <!-- Services Start -->

				<div class="dishes padd">
					<div class="container">
						<!-- Default Heading -->
						<div class="default-heading">


							<!-- Heading -->
							<h2>ДОБРО ПОЖАЛОВАТЬ</h2>
							<!-- Paragraph -->
							<p>

                                В мастерской Елены Захаровой вы можете заказать цветы с доставкой по Перми.  Если вы не можете определиться,  вы всегда можете связаться с нами  по телефону <br/><span class="letter">+7(982) 457 12 57</span></p>					<!-- Border -->

						</div>



					</div>
				</div>













{% endblock %}



{% block content %}












{% endblock content %}
