{% load url from future %}

{% load i18n %}


<!-- Slider Start
			#################################
				- THEMEPUNCH BANNER -
			#################################	-->

			<div class="tp-banner-container">
				<div class="tp-banner" >
					<ul>



                    <!-- SLIDE  -->


						<!-- SLIDE -->
						<li data-transition="curtain-2" data-slotamount="5" data-masterspeed="700">

							<!-- COVER IMAGE -->
							<img class="slide-img img-responsive"  src="{% static "flowers/assets/images/demo/revolution_slider/slider7.jpg" %}" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

							<div class="tp-caption large_text sft"
								data-x="center"
								data-y="100"
								data-speed="300"
								data-start="800"
								data-easing="easeOutExpo">ЛУЧШЕЕ ПРЕДЛОЖЕНИЕ
							</div>

							<div class="tp-caption medium_bold_red medium_light_red sfr"
								data-x="center"
								data-y="75"
								data-speed="300"
								data-start="1100"
								data-easing="easeOutExpo">
								<a href="/catalogue/" target="_blank">КУПИТЕ ПРЯМО СЕЙЧАС</a>
							</div>

							<div class="tp-caption lfb text-center"
								data-x="270"
								data-y="200"
								data-speed="900"
								data-start="1700"
								data-easing="easeOutBack">
								<a class="fsize20" href="/catalogue/buket-zdravstvui-shkola_75/">
									<img class="block hover-scale" src="{% static "flowers/img/slider/5.jpg" %}" width="200" height="200" alt="" />
									<strong>450 руб</strong>
								</a>
							</div>

							<div class="tp-caption lfb text-center"
								data-x="480"
								data-y="200"
								data-speed="900"
								data-start="2000"
								data-easing="easeOutBack">
								<a class="fsize20" href="/catalogue/buket-solnechnyi-krug_69/">
									<img class="block hover-scale" src="{% static "flowers/img/slider/7.jpg" %}" width="200" height="200" alt="" />
									<strong>680 руб</strong>
								</a>
							</div>

							<div class="tp-caption lfb text-center"
								data-x="690"
								data-y="200"
								data-speed="900"
								data-start="2300"
								data-easing="easeOutBack">
								<a class="fsize20" href="shop-product-full-width.html">
									<img class="block hover-scale" src="{% static "flowers/img/slider/8.jpg" %}" width="200" height="200" alt="" />
									<strong>530 руб</strong>
								</a>
							</div>


						</li>



                        <li data-transition="3dcurtain-vertical" data-slotamount="15" data-masterspeed="300" data-delay="9400">

							<!-- COVER IMAGE -->
							<img src="{% static "flowers/assets/images/demo/revolution_slider/sliderbg.jpg"%}" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

							<div class="tp-caption large_bold_grey lfl stl"
								data-x="118"
								data-y="233"
								data-speed="300"
								data-start="500"
								data-easing="easeOutExpo" data-end="8800" data-endspeed="300" data-endeasing="easeInSine">+7(342) 212 75 99
							</div>

							<div class="tp-caption large_bold_grey medium_thin_grey lfl stl"
								data-x="118"
								data-y="200"
								data-speed="300"
								data-start="800"
								data-easing="easeOutExpo" data-end="9100" data-endspeed="300" data-endeasing="easeInSine">
								<a target="_blank" href="/catalogue/category/1-sentiabria_8/">Не забудь купить букет к 1 сентября</a>
							</div>

							<div class="tp-caption lft"
								data-x="right" data-hoffset="-50"
								data-y="20"

								data-speed="600"
								data-start="1100"
								data-easing="easeOutExpo" data-end="3100" data-endspeed="600" data-endeasing="easeInSine">
								 <a href="shop-product-full-width.html"><img class="slide-img img-responsive" src="{% static "flowers/img/slider/11.jpg" %}" alt="Image 1"></a>
							</div>

							<div class="tp-caption medium_bg_darkblue sft stb"
								data-x="720"
								data-y="200"
								data-speed="300"
								data-start="1400"
								data-easing="easeOutExpo" data-end="3300" data-endspeed="300" data-endeasing="easeInSine">Букет ""
							</div>

							<div class="tp-caption medium_bg_orange sfb stb"
								data-x="720"
								data-y="160"
								data-speed="300"
								data-start="1700"
								data-easing="easeOutExpo" data-end="3200" data-endspeed="300" data-endeasing="easeInSine">620 руб
							</div>

							<div class="tp-caption lft ltb"
								data-x="right" data-hoffset="-50"
								data-y="20"
								data-speed="600"
								data-start="3600"
								data-easing="easeOutExpo" data-end="5600" data-endspeed="600" data-endeasing="easeInSine">
								<a href="shop-product-full-width.html"><img  class="slide-img img-responsive" src="{% static "flowers/img/slider/2.jpg" %}" alt="Image 2"></a>
							</div>

							<div class="tp-caption medium_bg_darkblue sft stb"
								data-x="720"
								data-y="200"
								data-speed="300"
								data-start="3900"
								data-easing="easeOutExpo" data-end="5800" data-endspeed="300" data-endeasing="easeInSine">БУКЕТ ""
							</div>

							<div class="tp-caption medium_bg_orange sfb stb"
								data-x="720"
								data-y="160"
								data-speed="300"
								data-start="4200"
								data-easing="easeOutExpo" data-end="5700" data-endspeed="300" data-endeasing="easeInSine">560 руб.
							</div>

							<div class="tp-caption lft ltb"
								data-x="right" data-hoffset="-50"
								data-y="20"
								data-speed="600"
								data-start="6100"
								data-easing="easeOutExpo" data-end="8100" data-endspeed=/"300" data-endeasing="easeInSine">
								<a href="shop-product-full-width.html"><img class="block hover-scale slide-img img-responsive"  src="{% static "flowers/img/slider/3.jpg" %}" alt="Image 3"></a>
							</div>

							<div class="tp-caption medium_bg_darkblue sft stb"
								data-x="720"
								data-y="200"
								data-speed="300"
								data-start="6400"
								data-easing="easeOutExpo" data-end="8300" data-endspeed="300" data-endeasing="easeInSine">БУКЕТ ""
							</div>

							<div class="tp-caption medium_bg_orange sfb stb"
								data-x="720"
								data-y="160"
								data-speed="300"
								data-start="6700"
								data-easing="easeOutExpo" data-end="8200" data-endspeed="300" data-endeasing="easeInSine">610 руб.
							</div>

						</li>


                         <!-- SLIDE  -->
						<li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
							<!-- MAIN IMAGE  1-->
							<img src="{% static "flowers/img/slider/slides.jpg" %}"  alt=""   data-bgposition="left bottom" data-kenburns="on" data-duration="10000" data-ease="Power0.easeIn" data-bgfit="120" data-bgfitend="100" data-bgpositionend="right top">



						</li>












					</ul>
					<!-- Banner Timer -->
					<div class="tp-bannertimer"></div>
				</div>
			</div>
			<!-- Slider End -->