{% extends "checkout/checkout.html" %}
{% load url from future %}
{% load currency_filters %}
{% load i18n %}

{% block title %}
    Параметры платежа | {{ block.super }}
{% endblock %}

{% block checkout_nav %}
    {% include 'checkout/nav.html' with step=3 %}
{% endblock %}

{% block order_contents %}{% endblock %}
{% block shipping_address %}{% endblock %}
{% block shipping_method %}{% endblock %}
{% block payment_method %}{% endblock %}

{% block payment_details %}
    <div class="sub-header">
        <h2>Параметры платежа</h2>
    </div>

	{% block payment_details_content %}
                <p>Выбранный способ платежа: <strong>{{ payment_method }}</strong></p>
		<a href="{% url 'checkout:preview' %}" class="btn btn-primary btn-large">{% trans "Continue" %}</a>
                <a href="{% url 'checkout:payment-method' %}" class="btn">Изменить способ оплаты</a>
	{% endblock payment_details_content %}

{% endblock payment_details %}
