{% extends "oscar/checkout/thank_you.html" %}
{% load url from future %}
{% load currency_filters %}
{% load i18n %}
{% block payment_info %}
    <div class="sub-header">
        <h2>{% trans "Payment" %}</h2>
    </div>
    <div class="well well-success">
        <h4>{% trans "Payment" %}</h4>
        {% for source in order.sources.all %}
            {{ source }}
            {% if source.source_type.code == "sbrf_slip" %}
            <a href="{% url 'invoice:sbrf_slip' order.pk %}?hash={{ order.verification_hash }}">Распечатать квитанцию</a>
            {% endif %}
        {% empty %}
            {% trans "No payment was required for this order." %}
        {% endfor %}
    </div>
{% endblock %}
{% block tracking %}
    {% include "partials/google_analytics_transaction.html" %}
    {% include "partials/yandex_metrika.html" %}
{% endblock %}
